name: Build and Release

on:
  push:
    branches: [ master ]
    tags:
      - "v*.*.*"
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  build_windows:
    name: "Windows Build"

    runs-on: windows-2022
    
    defaults:
      run:
        shell: msys2 {0}

    steps:
      
    - name: Install Qt & MinGW
      uses: jurplel/install-qt-action@v3
      with:
        aqtversion: '==3.1.*'
        py7zrversion: '>=0.20.2'
        version: '6.2.1'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_mingw81'
        tools: 'tools_mingw,qt.tools.win64_mingw810'

    - name: Install OpenSSL and mingw
      uses: msys2/setup-msys2@v2
      with:
        release: false
        update: false
        msystem: mingw64
        path-type: inherit
        install: >-
          zip
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-make
          mingw-w64-x86_64-openssl

    - uses: actions/checkout@v3

    - name: Fetch Tags
      run: git fetch --prune --tags -f

    - name: Configure CMake
      run: cmake . -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -G "MinGW Makefiles"

    - name: Build
      run: cmake --build . --config ${{env.BUILD_TYPE}}

    - name: Move built files to new directory
      shell: powershell
      run: |
        mkdir 'Lunar Client Qt'
        mv -Path @('lunar-client-qt.exe';jq -r '.agentsDestDir,.libsDestDir' config.json) -Destination 'Lunar Client Qt'

    - name: Package Qt
      shell: bash
      run: |
        PATH="$IQTA_TOOLS/mingw810_64/bin":$PATH windeployqt Lunar\ Client\ Qt/ --compiler-runtime --no-opengl-sw --no-virtualkeyboard --no-system-d3d-compiler --no-translations --no-quick-import

    - name: Package OpenSSL
      working-directory: 'Lunar Client Qt'
      run: cp -t . /mingw64/bin/{libssl*,libcrypto*}.dll

    - name: Compress
      run: zip -9 -r windows.zip 'Lunar Client Qt'

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: windows
        path: ./windows.zip
  build_mac:
    name: "MacOS Build"
    runs-on: macos-11
    
    steps:
      - uses: actions/checkout@v3

      - name: Fetch Tags
        run: git fetch --prune --tags -f
      
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.2.2'
          host: 'mac'
          target: 'desktop'
          arch: 'clang_64'
          setup-python: 'false'
        
      - name: Configure CMake
        run: cmake . -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        run: make
        
      - name: Package Dependencies
        run: |
          macdeployqt lunar-client-qt.app
          
      - name: Compress
        run: |
          tar -czvf mac.tar.gz lunar-client-qt.app
          
      - uses: actions/upload-artifact@v2
        with:
          name: mac
          path: ./mac.tar.gz
          
          
  build_arch:
    name: "Arch Linux Build"
    
    runs-on: ubuntu-latest
    container: archlinux:latest

    steps:
      - name: Install Packages
        run: |
          pacman -Syu --noconfirm --needed qt5-base qt5-svg cmake base-devel git jq

      - uses: actions/checkout@v3

      - name: Mark Repository as Safe
        run: git config --global safe.directory "$GITHUB_WORKSPACE"

      - name: Fetch Tags
        run: git fetch --prune --tags -f

      - name: Configure CMake
        run: cmake . -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
        
      - name: Build
        run: make

      - name: Compress
        run: |
          mkdir Lunar\ Client\ Qt
          jq '.agentsDestDir,.libsDestDir' config.json | xargs mv -t Lunar\ Client\ Qt/ lunar-client-qt
          tar czvf linux.tar.gz Lunar\ Client\ Qt/

      - uses: actions/upload-artifact@v2
        with:
          name: linux
          path: ./linux.tar.gz

  build_ubuntu:
    name: "Ubuntu Build"
    
    runs-on: ubuntu-18.04
    steps:
    - name: Install Qt & MinGW
      uses: jurplel/install-qt-action@v3
      with:
        aqtversion: '==3.1.*'
        py7zrversion: '>=0.20.2'
        version: "5.15.2"
        host: 'linux'
        target: 'desktop'
        arch: 'gcc_64'

    - name: Install OpenSSL
      run: apt-get -y openssl libssl-dev

    - name: Fetch Tags
      run: git fetch --prune --tags -f

    - name: Configure CMake
      run: cmake . -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
      
    - name: Build
      run: make
    - name: Move Files
      run: |
        mkdir Lunar\ Client\ Qt
        jq '.agentsDestDir,.libsDestDir' config.json | xargs mv -t AppDir/ lunar-client-qt
          
    - name: 'Install linuxdeploy'
      run: |
        wget https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage
        wget https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/continuous/linuxdeploy-plugin-qt-x86_64.AppImage
        chmod +x linuxdeploy-x86_64.AppImage
        chmod +x linuxdeploy-plugin-qt-x86_64.AppImage

    - name: 'Create AppImage'
      run: |
       ./linuxdeploy-x86_64.AppImage --appdir AppDir --plugin qt --output appimage
       rm linuxdeploy-x86_64.AppImage
       rm linuxdeploy-plugin-qt-x86_64.AppImage
       mv *.AppImage lunar-client-qt-linux.AppImage
        
    - name: Compress
      run: |
       tar czvf linux.tar.gz Lunar\ Client\ Qt/
       
    - uses: actions/upload-artifact@v2
      with:
       name: linux-AppImage
       path: lunar-client-qt-linux.AppImage

  create_release:
    name: "Create Release"
    needs: [build_windows, build_mac, build_arch, build_ubuntu]
    if: startsWith(github.ref, 'refs/tags/')

    runs-on: ubuntu-latest

    steps:
    - name: Download Builds
      uses: actions/download-artifact@v3

    - name: Variables
      id: variables
      run: |
        echo "::set-output name=version::${GITHUB_REF_NAME#v}"

    - name: Create Release
      uses: softprops/action-gh-release@v0.1.14
      with:
        name: ${{ steps.variables.outputs.version }}
        draft: true
        fail_on_unmatched_files: true
        files: |
          linux/linux.tar.gz
          linux-AppImage/lunar-client-qt-linux.AppImage
          mac/mac.tar.gz
          windows/windows.zip
